
body {
  font-family: Arial, sans-serif;
  background-color: white;
  background-size: 100% 100vh;
  background-attachment: auto;
}

.container-fluid {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mt-5 {
  margin-top: 75px; 
}

.p-4 {
  padding: 20px;
  font-size: 20px;
  margin-top: 30px;
}

.bg-light {
  background-color: #e6c0a1;
}

.rounded {
  border-radius: 10px;
}

.shadow-lg {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Form Styles */

.form-control-lg {
  font-size: 18px;
  padding: 10px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

.form-control-lg:focus {
  border-color: #337ab7;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.form-label {
  font-weight: bold;
  margin-bottom: 15px;
}

.btn {
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary {
  background-color: #ffa07a; 
  color: #fff;
  margin-top: 15px;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #ff9900; 
  transform: scale(1.05); 
  box-shadow: 0 0 10px rgba(255, 153, 0, 0.5); 
}

.btn-primary:active {
  background-color: #ff7a00; 
  box-shadow: 0 0 10px rgba(255, 122, 0, 0.5); 
}


.btn-sm {
  font-size: 14px;
  padding: 5px 10px;
}

.large-editor {
  height: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  overflow-y: auto;
}

.large-editor:focus {
  border-color: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.animate {
  transition: all 0.3s ease-in-out;
}

.animate:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.animate:active {
  transform: translateY(0);
  box-shadow: none;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Title Bar Styles */

.title-bar {
  background-color: #337ab7;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title-bar h5 {
  margin-bottom: 0;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}

.content {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
}

.content h2 {
  font-size: 28px;
  font-family: 'Lato', sans-serif; 
  font-weight: bold;
  margin-bottom: 10px;
  color: #337ab7;
  text-transform: uppercase;
}

.content p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
  font-family: 'Merriweather', serif; 
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.content ul li:last-child {
  border-bottom: none;
}

.content ul li::before {
  content: "\2022";
  color: #337ab7;
  font-size: 18px;
  margin-right: 10px;
}